html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

input[type='range'] {
  margin: 0;
  width: 15em;
  height: 0.5em;
  display: block;
  border-radius: 7.5em;
  -webkit-appearance: none;
  background-color: #eee;
}

input[type='range']::-webkit-slider-thumb {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #eee;
  -webkit-appearance: none;
  transition: 0.1s cubic-bezier(0, 0, 0.58, 1);
}

input[type='range']::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #eee;
  transition: 0.1s cubic-bezier(0, 0, 0.58, 1);
}

input[type='range']::-webkit-slider-thumb:hover {
  background-color: #fff;
}

input[type='range']::-moz-range-thumb:hover {
  background-color: #fff;
}

input[type='range']::-webkit-slider-thumb:active {
  transform: scale(1.25);
}

input[type='range']::-moz-range-thumb:active {
  transform: scale(1.25);
}

button {
  border: 0;
  color: #000;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  background: #eee;
  padding: 0.75em 1em;
  border-radius: 0.75em;
  text-transform: uppercase;
  overflow-wrap: break-word;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 1em);
  transition: transform 0.1s cubic-bezier(0, 0, 0.58, 1),
    background 0.1s cubic-bezier(0, 0, 0.58, 1);
}

button::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ccc;
  border-radius: inherit;
  transform: translate3d(0, 0.5em, -1em);
  transition: transform 0.1s cubic-bezier(0, 0, 0.58, 1),
    box-shadow 0.1s cubic-bezier(0, 0, 0.58, 1);
}

button:hover {
  background: #fff;
  transform: translate3d(0, 0.25em, 1em);
}

button:hover::before {
  transform: translate3d(0, 0.25em, -1em);
}

button:active {
  background: #fff;
  transform: translate3d(0em, 0.5em, 1em);
}

button:active::before {
  transform: translate3d(0, 0, -1em);
}

::-webkit-scrollbar {
  display: none;
}
