html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

input[type='range'] {
  display: block;
  -webkit-appearance: none;
  background-color: #eee;
  /* width: 300px; */
  height: 0.5em;
  width: 15em;
  border-radius: 7.5em;
  margin: 0 auto;
  outline: 0;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #eee;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: 0.15s cubic-bezier(0, 0, 0.58, 1);
}

input[type='range']::-moz-range-thumb {
  background-color: #eee;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: 0.15s cubic-bezier(0, 0, 0.58, 1);
}

input[type='range']::-webkit-slider-thumb:active {
  transform: scale(1.25);
}

input[type='range']::-moz-range-thumb:active {
  transform: scale(1.25);
}
